<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a0411_0127122_t2_v3usafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.0411_0127122_T2_V3USAFE">
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.0411_0127122_T2_V3USAFE.NoActionBar" />
        <activity
            android:name=".ReportActivity"
            android:exported="true" />
        <activity
            android:name=".QuizCoverActivity"
            android:exported="true" />
        <activity
            android:name=".QuizActivity"
            android:exported="true" />
        <activity
            android:name=".RevisionActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateVaccinationStatusActivity"
            android:exported="true" />
        <activity
            android:name=".BookingActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateCovidStatusActivity"
            android:exported="true" />
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".CoverActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>